<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.ssm.dao.SalaryDao">
	<insert id="insertSalary" parameterType="Salary" >
		insert into 
			salary(user_id,basic_pay, merit_pay,overtime_pay,social_security,rewards_pay,year,month)
		values
			(#{user.uid},#{basicPay},#{meritPay},#{overtimePay},#{socialSecurity},#{rewardsPay},#{year},#{month})
	</insert>
	
	<update id="updateSalary" parameterType="Salary">
		update 
			salary
		set 
			basic_pay=#{basicPay},merit_pay=#{meritPay},overtime_pay=#{overtimePay},social_security=#{socialSecurity},
			rewards_pay=#{rewardsPay},year=#{year},month=#{month}
		where
			sal_id=#{salId}
	</update>
	
	
	<select id="querySalaryById" resultMap="SalaryResult">
		select * from salary s,users u where s.user_id=u.u_id and s.sal_id=#{salId}
	</select>
	
	<select id="querySalaryByUserIdAndMonth" resultMap="SalaryResult">
		select 
			* 
		from 
			salary s,users u 
		where 
			s.user_id=u.u_id 
		and 
			s.user_id=#{userId}
		and
			c.year=#{year}
		and
			c.month=#{month}
	</select>
		
	<resultMap type="Salary" id="SalaryResult">
		<id property="salId" column="sal_id"/>
		<result property="basicPay" column="basic_pay"/>
		<result property="meritPay" column="merit_pay"/>
		<result property="overtimePay" column="overtime_pay"/>
		<result property="socialSecurity" column="social_security"/>
		<result property="rewardsPay" column="rewards_pay"/>
		<result property="year" column="year"/>
		<result property="month" column="month"/>
		<association property="user" javaType="User">
			<id property="uid" column="u_id"/>
			<result property="userName" column="user_name"/>
			<result property="password" column="password"/>
			<result property="type" column="type"/>
			<result property="entryDate" column="entry_date"/>
			<result property="resignationReason" column="resignation_reason"/>
		</association>
	</resultMap>
</mapper>